$color-tertiary-light: #b2d3f1;
$color-tertiary-dark: #09487a;

.articleCont {
  min-width: 200;
  border: 1px solid #eaeaea;
  margin: 8px;
  background-color: #b2d3f1;
  border-radius: 10px;

  &:hover {
    background-image: linear-gradient(
      to right bottom,
      rgba($color-tertiary-light, 0.9),
      rgba($color-tertiary-dark, 1)
    );
  }

  &:hover &_compImg {
    transform: scale(1.1);
    transition: all 0.5s;
  }

  &_imgParent {
    overflow: hidden;
    margin: 10px;
    border-radius: 10px;
    width: 100%;
    height: 242px;
  }

  &_compImg {
    width: 100%;
    height: 242px;
  }

  &_artDetails {
    margin: 15px;

    &_title {
      font-weight: bold;
      text-align: center;
      color: #001324dc;
    }

    &_desc {
      font-weight: bold;
      text-align: center;
      color: #001324dc;
      margin-top: 20px;
    }
  }

  &_moment {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    color: #001324dc;
    margin-right: 20px;
    font-size: 14px;
    font-weight: bold;
  }
  
}
