// .translate {
//     display: block;
//     list-style: none;
//     margin-top: 0px;
  
    .translate_btn {
      width: 40px;
      height: 40px;
      margin: 10px;
      background: #001324dc;
      color: #fff;
      border: none;
      border-radius: 5px;
      font-size: 20px;
      // font-weight: bold;
      cursor: pointer;
    }
   
  // }